conn g2g-tunnel #
        left=10.10.10.101
        leftsubnet=192.168.122.0/24
        right=10.10.10.100
        rightsubnet=20.20.20.0/24
        ike=aes256-sha2_256-modp1024!
        esp=aes256-sha2_256!
        keyingtries=0
        ikelifetime=1h
        lifetime=8h
        dpddelay=30
        dpdtimeout=120
        dpdaction=restart
        authby=secret
        auto=start
        keyexchange=ikev2
        type=tunnel